$amplyfi-blue: #032539;
$amplyfi-pink: #e63c50;

.doc-property {
  margin-bottom: 2rem;
  font-size: 0.8rem;
}

.doc-property-label {
  font-weight: bold;
}

.doc-property-value {
  text-align: justify;
}

a {
  color: $amplyfi-blue;
}

a:hover {
  color: $amplyfi-pink;
}

ul.value-list {
  margin-top: 0;
  padding-left: 0;
}

ul.value-list li {
  display: inline;
}

ul.value-list li::after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  -moz-border-radius: 2.5px;
  -webkit-border-radius: 2.5px;
  border-radius: 2.5px;
  margin: 0 0.7rem 0.1rem;
  background-color: $amplyfi-pink;
}

ul.value-list li:last-child:after {
  display: none;
}

.tags {
  margin-bottom: 3rem;
}


