<div class="container-fluid" id="top">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" class="amplyfi-blue">
    <mdb-navbar-brand>
      <a href="#">
        <img id="amplyfi-logo" src="../assets/amplyfi.png" alt="Amplyfi"/>
      </a>
    </mdb-navbar-brand>

    <links>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLink="dashboard" routerLinkActive="active" hidden>
          <a class="nav-link waves-light" mdbWavesEffect>Dashboard<span
            class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLink="docs" routerLinkActive="active">
          <a class="nav-link waves-light" mdbWavesEffect>Documents</a>
        </li>
        <li class="nav-item" routerLink="companies" routerLinkActive="active">
          <a class="nav-link waves-light" mdbWavesEffect>Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light disabled" mdbWavesEffect>People</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light disabled" mdbWavesEffect>Places</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>

  <router-outlet></router-outlet>

  <footer>&copy; Carolyne Peelman, 2019</footer>
</div>
