<mdb-card class="top-card">
  <mdb-card-body>
    <mdb-card-title>
      <h3 class="title-with-margin">{{name}}</h3>
    </mdb-card-title>

    <div class="d-flex align-items-center" *ngIf="loading">
      Loading company details...
      <div class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></div>
    </div>

    <mdb-card-text *ngIf="!loading">
      <div class="general-info">
        <div class="company-property">
          <h4>Period</h4>
          <div class="company-property-value">
            <div *ngIf="oldest != newest">{{oldest}} - {{ newest}}</div>
            <div *ngIf="oldest == newest">{{oldest}}</div>
          </div>
        </div>

        <div class="company-property">
          <h4>Locations</h4>
          <div class="company-property-value">
            <ul class="value-list">
              <li *ngFor="let location of company.locations | keyvalue: valueAscOrder">
                {{location.key}} ({{location.value}})
              </li>
            </ul>
          </div>
        </div>

        <div class="company-property">
          <h4>Competitors</h4>
          <div class="company-property-value">
            <ul class="value-list">
              <li *ngFor="let competitor of company.competitors | keyvalue: valueAscOrder">
                <a routerLink="/companies/{{competitor.key}}">{{competitor.key}}</a> ({{competitor.value}})
              </li>
            </ul>
          </div>
        </div>
      </div>

      <h4>Documents</h4>
      <ul class="docs">
        <li *ngFor="let doc of company.docs">
          <a routerLink="/docs/{{doc.doc_id}}">
            <mdb-card class="sub-card">
              <mdb-card-body>
                <mdb-card-title>
                  <h5>{{doc.title}}<span *ngIf="doc.year"> (<span
                    *ngIf="doc.location">{{doc.location}}, </span>{{doc.year}})</span></h5>
                </mdb-card-title>
                <mdb-card-text>
                  <div class="doc-summary">
                    {{doc.summary}}
                  </div>
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </a>
        </li>
      </ul>
    </mdb-card-text>

    <button type="button" class="btn btn-light" (click)="goBack()" *ngIf="!loading">
      Back
    </button>
  </mdb-card-body>
</mdb-card>
